#log {
    -fx-background-color: none;
    -fx-border-style: none;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.list-view {
    -fx-font-size: 13px;
}


.text-area .content{
    -fx-background-color: #45494A;
}

#jsonSchema {
    -fx-font-size: 13px;
    -fx-text-fill: #e7e7e7;
    -fx-font-weight: bolder;
    -fx-background-color: #45494A;
}

.text-field .content {
    -fx-prompt-text-fill: #e2e2e2;
}

#log {
    -fx-text-fill: #a2a2a2;
}
#log .content {
    -fx-background-color: #2B2B2B;
}

#sqlConnectionString {
    -fx-text-fill: #EBEBEB;
    -fx-font-weight: bold;
}

#sqlPassword {
    -fx-text-fill: #EBEBEB;
    -fx-font-weight: bold;
}

#sqlUsername {
    -fx-text-fill: #EBEBEB;
    -fx-font-weight: bold;
}

#redisHostname {
    -fx-text-fill: #EBEBEB;
    -fx-font-weight: bold;
}

#redisAuth {
    -fx-text-fill: #EBEBEB;
    -fx-font-weight: bold;
}

#redisPort {
    -fx-text-fill: #EBEBEB;
    -fx-font-weight: bold;
}

#redisKeyName {
    -fx-text-fill: #EBEBEB;
    -fx-font-weight: bold;
}


.table-view .filler {
    -fx-background-color: #7733ee;
}

.table-view .column-header .label {
    -fx-text-fill: #a2a2a2;
    -fx-background-color: #45494A;
    -fx-font-weight: bold;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #2F65CA;
    -fx-text-fill: white;
}

.list-cell {
    -fx-text-fill: #aaaaaa;
    -fx-background-color: #414547;
}

.list-cell:even {
    -fx-text-fill: #aaaaaa;
    -fx-background-color: #3C3F41;
}

.list-cell:filled:hover {
    -fx-background-color: #2F65CA;
    -fx-text-fill: white;
}

.hide-thumb .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
}

.button {
    -fx-text-fill: #BBBBBB;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-background-color: #4A4F51;
    -fx-border-color: #2F65CA;
    -fx-border-radius: 3;

}


.button:hover {
    -fx-cursor: hand;
}

.choice-box {
    -fx-focus-color: transparent;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-background-color: #4A4F51;
    -fx-border-color: #595A5A;
}

.choice-box > * {
    -fx-text-fill: #BBBBBB;
}


.scroll-bar{
    -fx-background-color: rgb(96,96,96);
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color:transparent;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}
.scroll-bar:horizontal .thumb {
    -fx-background-color: #545657;
    -fx-background-insets: 4 0 4 0;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: #545657;
    -fx-background-insets: 0 4 0 4;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #545657;
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #545657;
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-padding: 1;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-padding: 1;
}
.scroll-bar:horizontal .increment-arrow {
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-background-color: #545657;

}
.scroll-bar:vertical .increment-arrow {
    -fx-background-color: #545657;
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";

}
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: #545657;

}
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: #545657;

}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
    -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}


.table-view {
    -fx-background-color: #3C3F41;
    -fx-text-fill: #e7e7e7 ;
}
.table-cell {
    -fx-text-fill: #e7e7e7 ;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #414547;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

/* Selected row when table not focused */
.table-row-cell:filled:focused:selected {
    -fx-background-color: #414547;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: #414547;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-fill: -fx-text-inner-color;
}

.table-view:focused .table-row-cell:filled:focused:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: #414547;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-selection-bar-text;
}

.table-view:row-selection .table-row-cell:filled:focused:hover {
    -fx-background-color: #414547;
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 2 3 2, 3 3 4 3;
    -fx-text-fill: -fx-text-inner-color;
}

.table-row-cell {
    -fx-background-color: #2B2B2B;
}
.table-row-cell:selected {
    -fx-background-color: #414547;
}
.table-row-cell:even .table-cell {
    -fx-fill: #414547;
    -fx-background-color: #3b3b3b;
    -fx-text-fill: #BBBBBB ;
}